<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./add_form.css">
    <title>Добавление охранника</title>
</head>

<body>
<form id="add_form">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="add-wr">
                    <h2>Добавление охранника</h2>
                    <div class="form">
                        <input type="text" placeholder="Фамилия" name="last_name">
                        <input type="text" placeholder="Имя" name="first_name">
                        <input type="text" placeholder="Отчество" name="patronymic">
                        <input type="text" placeholder="Должность" name="position">
                        <button class="add_button"> + Добавить</button>
                        <button class="back_button"> Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>

</html>