<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', path='/admin.css')}}" rel="stylesheet">
    <title>Операторы</title>
</head>

<body>

<div class="grid-container">

    <div class="topbar">
        <a class="active" href="{{base_url}}/admins/operators">Зарегистрированные</a>
        <a href="{{base_url}}/admins/operators?pending=True">В ожидании регистриации</a>
    </div>

    {%import 'nav-macros.html' as nav with context %}
    {{nav.nav(1)}}

    <div class="search">
        <form method="get" action="{{base_url}}/admins/operators">
            <label>
                {%if substring != None%}
                <input placeholder="Поиск" type="search" name="substring" value="{{substring}}">
            {%else%}
                <input placeholder="Поиск" type="search" name="substring">
            {%endif%}
            </label>
            <button class="search_button"> Найти</button>
        </form>
    </div>

    <div class="add_wr">
        <button onclick="location.href='{{base_url}}/admins/add_operator'" class="add_button"
                type="button"> +
            Добавить
        </button>
    </div>

    <div class="pagination">
        {% if pagination.has_prev_page %}
        <a href="{{base_url}}/admins/operators?page={{pagination.prev_page}}">&laquo;</a>
        {%endif%}
        <a href="{{base_url}}/admins/operators?page={{pagination.current_page}}">{{pagination.current_page}}</a>
        {%if pagination.has_next_page%}
        <a href="{{base_url}}/admins/operators?page={{pagination.next_page}}">&raquo;</a>
        {% endif%}
    </div>

    <div class="table-wr">
        <table id="table">
            <tr>
                <th>ФИО</th>
            </tr>
            {%for operator in operators%}
            <tr>
                <td>{{operator.last_name}} {{operator.first_name}} {{operator.patronymic}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
    {%import 'logout_macro.html' as logout with context%}
    {{logout.logout()}}

</div>

</body>

</html>