<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', path='/admin.css') }}" rel="stylesheet">
    <title>Охранники</title>
</head>

<body>

<div class="grid-container">

    <div class="topbar">
        <a class="active" href="{{base_url}}/admins/{{admin_id}}/securities">Зарегистрированные</a>
        <a href="{{base_url}}/admins/{{admin_id}}/securities?pending=True">В ожидании регистриации</a>
    </div>

    {%import 'nav-macros.html' as nav with context %}
    {{nav.nav(2)}}

    <div class="search">
        <form method="get" action="{{base_url}}/admins/{{admin_id}}/securities">
            <label>
                <input type="search" placeholder="Поиск" name="substring">
            </label>
            <button class="search_button"> Найти</button>
        </form>
    </div>

    <div class="add_wr">
        <button onclick="location.href='{{base_url}}/admins/{{admin_id}}/add_security'" type="button"
                class="add_button"> +
            Добавить
        </button>
    </div>

    <div class="pagination">
        {% if pagination.has_prev_page %}
        <a href="{{base_url}}/admins/{{admin_id}}/securities?page={{pagination.prev_page}}">&laquo;</a>
        {%endif%}

        <a href="{{base_url}}/admins/{{admin_id}}/securities?page={{pagination.current_page}}">{{pagination.current_page}}</a>

        {%if pagination.has_next_page%}
        <a href="{{base_url}}/admins/{{admin_id}}/securities?page={{pagination.next_page}}">&raquo;</a>
        {% endif%}
    </div>

    <div class="table-wr">
        <table id="table">
            <tr>
                <th>ФИО</th>
                <th>Должность</th>
            </tr>
            {%for security in securities%}
            <tr>
                <td>{{security.last_name}} {{security.first_name}} {{security.patronymic}}</td>
                <td>{{security.position}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

</body>

</html>