<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', path='/admin.css')}}" rel="stylesheet">
    <title>Операторы</title>
</head>

<body>

<div class="grid-container">

    <div class="topbar">
        <a class="active" href="{{base_url}}/admins/{{admin_id}}/operators">Зарегистрированные</a>
        <a href="{{base_url}}/admins/{{admin_id}}/operators?pending=True">В ожидании регистриации</a>
    </div>

    <div class="sidebar">
        <a class="active" href="{{base_url}}/admins/{{admin_id}}">
            <img src="{{url_for('static', path='/triangle.png')}}" class="triangle"></img>Операторы</a>
        <a href="{{base_url}}/admins/{{admin_id}}/securities">
            <img src="{{url_for('static', path='/triangle.png') }}" class="triangle"></img>Охранники</a>
        <a href="./admin_dics.html">
            <img src="{{url_for('static', path='/triangle.png') }}" class="triangle"></img>Словари</a>
    </div>

    <div class="search">
        <form method="get" action="{{base_url}}/admins/{{admin_id}}/operators">
            <label>
                <input type="search" placeholder="Поиск" name="substring">
            </label>
            <button class="search_button"> Найти</button>
        </form>
        <button onclick="location.href='{{base_url}}/admins/{{admin_id}}/add_operator'" class="add_button"
                type="button"> +
            Добавить
        </button>
    </div>

    <div class="pagination">
        {% if pagination.has_prev_page %}
            <a href="{{base_url}}/admins/{{admin_id}}/operators?page={{pagination.prev_page}}">{{pagination.prev_page}}</a>
        {%endif%}
        {%if pagination.has_prev_page or pagination.has_next_page%}
            <a href="{{base_url}}/admins/{{admin_id}}/operators?page={{pagination.current_page}}">{{pagination.current_page}}</a>
        {%endif%}
        {%if pagination.has_next_page%}
            <a href="{{base_url}}/admins/{{admin_id}}/operators?page={{pagination.next_page}}">{{pagination.next_page}}</a>
        {% endif%}
    </div>

    <div class="table-wr">
        <table id="table">
            <tr>
                <th>ФИО</th>
            </tr>
            {%for operator in operators%}
            <tr>
                <td>{{operator.last_name}} {{operator.first_name}} {{operator.patronymic}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>

</div>

</body>

</html>