<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{{url_for('static', path='/view.css')}}" rel="stylesheet" type="text/css">
    <title>Просмотр контрагента</title>
</head>

<body>

<div class="grid-container">

    <div class="company_head_wr">
        <h2> Контрагент </h2>
    </div>

    <div class="company_info_wr">
        <p><b>Намиенование: </b>{{contractor.title}}"</p>
        <p><b>Юр. адрес: </b>{{contractor.address}}</p>
        <p><b>ОГРН: </b>{{contractor.ogrn}}</p>
        <p><b>ИНН: </b>{{contractor.inn}}</p>
    </div>

    <div class="doc_head_wr">
        <h3>Документы</h3>
    </div>

    <div class="doc_info_wr">
        <p><a href="{{contractor.ogrn_link}}">ОГРН</a></p>
        <p><a href="{{contractor.inn_link}}">ИНН</a></p>
        <p>Договоры:</p>
    </div>

    <form class="search" method="get" action="{{base_url}}/contractors/{{contractor.id}}">
        <label>
            <input placeholder="Поиск" type="search" name="substring" value="{{substring}}">
        </label>
        <button class="search_button"> Найти</button>
    </form>

    <div class="add_wr">
        <button onclick="window.location.replace('{{base_url}}' + '/contractors/{{contractor.id}}/add_contract')"
        class="add_button"> + Добавить</button>
    </div>

    <div class="pagination">
        {% if pagination.has_prev_page %}
        <a href="{{base_url}}/contractors/{{contractor.id}}?page={{pagination.prev_page}}&substring={{substring}}">
        &laquo;</a>
        {%endif%}

        <a href="{{base_url}}/contractors/{{contractor.id}}?page={{pagination.current_page}}&substring={{substring}}">{{pagination.current_page}}</a>

        {%if pagination.has_next_page%}
        <a href="{{base_url}}/contractors/{{contractor.id}}?page={{pagination.next_page}}&substring={{substring}}">&raquo;</a>
        {% endif%}
    </div>

    <div class="contacts_head_wr">
        <h2> Представители </h2>
    </div>

    <div class="table-wr">
        <table id="table">
            <tr>
                <th>Название</th>
                <th></th>
            </tr>
            {%for contract in contracts%}
            <tr>
                <td>{{contract.title}}</td>
                <td>
                    <button onclick="window.location.replace('{{base_url}}/files/{{contract.uuid}}')"
                    class="blue_button">
                    Просмотреть</button>
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>

    <div class="back_wr">
        <button onclick="window.location.replace('{{base_url}}/contractors')" class="back_button">Назад</button>
    </div>

    <div class="contacts_info_wr">
        {%for representative in representatives%}
        <div class="info">
            <p><b>ФИО: </b>{{representative.last_name}} {{representative.first_name}} {{representative.patronymic}}</p>
            <p><b>Телефон: </b>{{representative.telephone_number}}</p>
            <p><b>E-mail: </b>{{representative.email}}</p>
        </div>
        {%endfor%}

        <div>
            <button
                    onclick="window.location.replace('{{base_url}}/operators/representative_add_form?contractor_id={{contractor.id}}')"
                    class="add_button">+ Добавить
            </button>
        </div>
    </div>

    <div class="exit_wr">
        <button onclick="window.location.replace('{{base_url}}/logout')" class="exit_button">Выйти</button>
    </div>

</div>

</body>

</html>