@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 10% minmax(min-content, max-content) auto 140px;
    grid-template-rows: 150px 60px 60px auto;
    grid-column-gap: 2%;
}

.agent_contract_wr {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
}

.object_workers_wr {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
}

.triangle {
    margin-left: 40%;
    margin-right: 7%;
    width: 10px;
    height: 15px;
}

.search {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
}

input[type="search"] {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
    -moz-outline-style: none;
}

input[type="search"] {
    border: 1px solid #ccc;
    padding: 0 0 0 10px;
    font-size: 14px;
}

.search_button {
    width: 80px;
    height: 40px;
    margin-left: 5px;
    border-radius: 5px;
    background: #8497FF;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.result_wr {
    grid-column: 2/4;
    grid-row: 2;
    align-self: center;
    margin-left: 320px;
}

.back_wr {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: end;
}

.green_button {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background: #60B963;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.blue_button {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background: #8497FF;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.pagination {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
}

.pagination a {
    color: #3D8AFF;
    float: left;
    padding: 10px 16px;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #f1f1f1;
}

.table-wr {
    grid-column: 2/4;
    grid-row: 4;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 40px;
}

#table {
    border: 1px solid #7B7B7B;
    border-radius: 5px;
    width: 100%;
}

#table th {
    border: 1px solid #ffffff;
    padding: 8px;
}

#table td {
    font-size: 14px;
    border: 1px solid #ffffff;
    padding: 5px 5px 5px 8px;
}

.over td {
    background-color: #FFC0C0;
}

.denied td {
    background-color: #FFC0C0;
}

.allowed td {
    background-color: #CAE9C8;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

#table th {
    text-align: left;
    background-color: #DEDEDE;
    color: #454545;
}

.allow_button {
    height: 20px;
    border-radius: 5px;
    border: 1px solid #03BF38;
    background: none;
    color: #03BF38;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.deny_button {
    height: 20px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #E45D65;
    background: none;
    color: #E45D65;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.exit_wr {
    grid-column: 4;
    grid-row: 1;
    font-size: 14px;
    align-self: center;
    justify-self: end;
    padding-right: 70px;
}

.exit_button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background: none;
    border: 1px solid #8497FF;
    color: #8497FF;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    transition: box-shadow .4s ease;
}